[submodule "build/dependencies/murmur3"]
	path = build/dependencies/murmur3
	url = git://github.com/apetrone/murmur3.git
[submodule "build/dependencies/xwl"]
	path = build/dependencies/xwl
	url = git://github.com/apetrone/xwl.git
[submodule "tools/blacksmith"]
	path = tools/blacksmith
	url = git://github.com/apetrone/blacksmith.git
[submodule "build/dependencies/squirrel3"]
	path = build/dependencies/squirrel3
	url = git://github.com/apetrone/squirrel3.git
[submodule "build/dependencies/glm"]
	path = build/dependencies/glm
	url = git://github.com/Groovounet/glm.git
[submodule "build/dependencies/font-stash"]
	path = build/dependencies/font-stash
	url = git://github.com/apetrone/font-stash.git
[submodule "build/dependencies/slim"]
	path = build/dependencies/slim
	url = git://github.com/apetrone/slim.git
[submodule "tools/pegasus"]
	path = tools/pegasus
	url = git://github.com/apetrone/pegasus.git
[submodule "build/dependencies/assimp"]
	path = build/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "build/dependencies/bullet2"]
	path = build/dependencies/bullet2
	url = https://github.com/omniavinco/bulletphysics.git
[submodule "build/dependencies/sqrat"]
	path = build/dependencies/sqrat
	url = git://git.code.sf.net/p/scrat/code
