# general project

build/obj/*


# Code::Blocks
*.workspace
*.cbp
*.depend
*.layout

# Unix
*.[oa]
*.make

# Windows
*.exe
*.obj
*.pdb
*.ilk
*.vcproj
*.vcxproj
*.sln.cache
*.sln
*.user
*.idb
*.dll
*.lib
*.ncb
*.suo
*.manifest*
*.dep
msbuild.*
*.sdf
*.opensdf
*.exp

build/*.vcxproj*
build/*.sln

*.log
*.mode1v3
*.pbxuser
*.xcodeproj
*.xcworkspace
*/xcuserdata/
deps.lua # generated per platform
.DS_Store
enthumbs.db
Icon?
Thumbs.db
*.cmake
*CMakeFiles*
*.pbxproj
*.pyc
*.ipa
*.dSYM*
DerivedData
**Makefile
.Python

# project-specific
*.cache
*.filecache


# rsynced dependencies
build/dependencies/fbx_2015.1/*
build/dependencies/oculussdk_*/*
build/dependencies/openal-1.1/*

# tools
tools/env/*

# docs
docs/html/*
