[submodule "build/dependencies/murmur3"]
	path = build/dependencies/murmur3
	url = git://github.com/PeterScott/murmur3.git
[submodule "build/dependencies/xwl"]
	path = build/dependencies/xwl
	url = git://github.com/apetrone/xwl.git
[submodule "tools/blacksmith"]
	path = tools/blacksmith
	url = git://github.com/apetrone/blacksmith.git
